{% extends 'base.html.twig' %}

{% block title %}CineCar
{% endblock %}
{% block body %}

	<main class="mainHome">

		<div class="headerCineCar">

			<h1 class="homeTitle">
				DRIVE INTO<br>THE SPOTLIGHT
			</h1>
			<div class="text-bg-dark searchBar">
				<h2>Find a vehicle</h2>
				<form action="{{ path('app_vehicle_index') }}" method="post" class="">
					<div class="form-row d-flex p-2">
						<div class="form-group col-md-3">
							<label for="inputSearch">Select a vehicle</label>
							<input type="text" name="searchCar" class="form-control" placeholder="ex: KITT">
						</div>
						<div class="form-group col-md-3">
							<label for="inputSearch">or a Movie</label>
							<input type="text" name="searchMovie" class="form-control" placeholder="ex: K2000">
						</div>
						<button type="submit" class="">Select</button>
					</div>
				</form>
			</div>

		</div>

		<div class="">

			<h2 class="h2CineCar rotate1">
				OUR SUPER STAR CARS !
			</h2>

			<div class="d-flex flex-row flex-wrap justify-content-center">

				<div class="card cineCard" style="width: 18rem;">
					<img class="card-img-top" src="build/images/Batmobilebale.jpeg" alt="Card image cap">
					<div class="card-body">
						<h4 class="h4CineCar">The Batmobile</h4>
						<p class="card-text">Batman Returns - 2012</p>
						<button class="btnCardCineCar">BECOME BATMAN</button>
					</div>
				</div>

				<div class="card cineCard" style="width: 18rem;">
					<img class="card-img-top" src="build/images/Batmobilebale.jpeg" alt="Card image cap">
					<div class="card-body">
						<h4 class="h4CineCar">The Mystery Machine</h4>
						<p class="card-text">Batman Returns - 2012</p>
						<button class="btnCardCineCar">SELECT</button>
					</div>
				</div>

				<div class="card cineCard" style="width: 18rem;">
					<img class="card-img-top" src="build/images/Batmobilebale.jpeg" alt="Card image cap">
					<div class="card-body">
						<h4 class="h4CineCar">Batmobile</h4>
						<p class="card-text">Batman Returns - 2012</p>
						<button class="btnCardCineCar">SELECT</button>
					</div>
				</div>

			</div>

			<div class="d-flex flex-row justify-content-center">
				<button class="btnCineCar">SEE ALL THE VEHICLES</button>
			</div>

		</div>

		<div class="">

			<h2 class="h2CineCar rotate-1">
				DISPLAYED MOVIE !
			</h2>

			<div class="d-flex flex-row flex-wrap justify-content-center">
				<div>
					<img class="logoHome" src="build/images/logoScooby.png" alt="Logo Scooby">
				</div>
				<div>
					<img class="logoHome" src="build/images/logoBatman.png" alt="Logo Scooby">
				</div>
				<div>
					<img class="logoHome" src="build/images/logoMadMax.png" alt="Logo Scooby">
				</div>
				<div>
					<img class="logoHome" src="build/images/logoGhost.png" alt="Logo Scooby">
				</div>
			</div>

			<div class="d-flex flex-row flex-wrap justify-content-center">
				<div>
					<img class="logoHome" src="build/images/logoPokemon.png" alt="Logo Scooby">
				</div>
				<div>
					<img class="logoHome" src="build/images/logoBackFuture.png" alt="Logo Scooby">
				</div>
				<div>
					<img class="logoHome" src="build/images/logoOuiOui.png" alt="Logo Scooby">
				</div>
			</div>

		</div>

		<div class="">

			<h2 class="h2CineCar rotate1">
				OUR LATEST CRITICS !
			</h2>

			<div class="d-flex flex-row justify-content-center">
				<div class="cineCritics">
					<img class="starCritics" src="build/images/5star.png" alt="5 star logo">
					<p>
						"I rented the batmobile for my wedding and it was amazing! Everyone was impressed and we got incredible pictures. The service was excellent and I highly recommend this site."
					</p>
					<p class="criticsName">Ibrahim D.</p>
					<p>11/01/22</p>
				</div>
				<div class="cineCritics">
					<img class="starCritics" src="build/images/5star.png" alt="5 star logo">
					<p>
						"I rented the James Bond car for my bachelor party and it was a dream come true. The service was excellent and we had an amazing day."
					</p>
					<p class="criticsName">Ibrahim D.</p>
					<p>09/01/22</p>
				</div>
				<div class="cineCritics">
					<img class="starCritics" src="build/images/5star.png" alt="5 star logo">
					<p>
						"I rented the Mustang Bullitt for a day of driving and it was the most incredible experience of my life. The vehicle was incredibly powerful and fun to drive. I recommend this site to all car movie enthusiasts."
					</p>
					<p class="criticsName">Ibrahim D.</p>
					<p>08/01/22</p>
				</div>
				<div class="cineCritics">
					<img class="starCritics" src="build/images/1star.png" alt="1 star logo">
					<p>
						"No jet, no wow."
					</p>
					<p class="criticsName">Jeff B.</p>
					<p>07/01/22</p>
				</div>
			</div>

		</div>
	</main>

{% endblock %}
