main {
    background-color: $black;
    background-image: url(../../assets/posters/BG_Home.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainForm {
    height: 500px;
}

.formBG {
    margin-top: 100px;
    height: 600px;
    border-width: 5px;
    border-color: $black;
}

.textForm {
    color: #000;
    font: 400 20px Barlow Semi Condensed;
    width: 350px;
}

.textFormLabel {
    margin-top: 15px;
    color: #fff;
    font: 400 20px Barlow Semi Condensed;
}

.divForm {
    width: 350px;
}

.headerCineCar {
    background-image: url(../../assets/posters/HomeBanner.jpg);
    height: 500px;
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.homeTitle {
    color: #000;
    font: 800 80px Barlow Semi Condensed;
    line-height: 0.8;
    margin-left: 10%;
    padding-top: 5%;
}

.h2CineCar {
    color: $mainYellow;
    font: 600 42px Barlow Semi Condensed;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;
}

.h4CineCar {
    color: #000;
    font: 600 26px Barlow Semi Condensed;
}

.textMenu {
    color: #000 !important;
    font: 600 20px Barlow Semi Condensed;

    &:hover {
        text-decoration: underline;
    }
}

p {
    font: 500 18px Barlow Semi Condensed;
}

.criticsName {
    font: 800 20px Barlow Semi Condensed;
}

.cineCard {
    border-radius: 0;
    border-width: 0;
    background-color: $mainYellow;
    width: 500px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;

    &:hover {
        box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.25);
        transition: box-shadow 0.3s ease-in-out;
    }
}

.btnCineCar {
    width: 250px;
    height: 60px;
    color: $black;
    background-color: $mainYellow;
    font: 600 20px Barlow Semi Condensed;
    text-align: center;
    margin-top: 20px;

    &:hover {
        background-color: $black;
        border-width: 2px;
        border-color: $mainYellow;
        color: $mainYellow;
    }
}

.btnCardCineCar {
    width: 200px;
    height: 50px;
    color: $mainYellow;
    border-width: 2px;
    background-color: $black;
    font: 600 20px Barlow Semi Condensed;
    text-align: center;
    margin-top: 20px;

    &:hover {
        background-color: $mainYellow;
        border-width: 2px;
        border-color: $black;
        color: $black;
    }
}

.cineCritics {
    background-color: $mainYellow;
    height: 330px;
    width: 280px;
    margin: 15px;
    padding: 20px;
    margin-bottom: 100px;
}

.searchBar {
    font: 300 20px Barlow Semi Condensed;
    width: 50%;
    margin-left: 10%;
    background-color: $black;
    color: #ffffff;
}

.searchBtn {
    width: 150px;
    height: 40px;
    color: $black;
    background-color: $mainYellow;
    font: 600 20px Barlow Semi Condensed;
    text-align: center;
    margin-top: 31px;

    &:hover {
        background-color: $black;
        border-width: 2px;
        border-color: $mainYellow;
        color: $mainYellow;
    }
}

.starCritics {
    margin-bottom: 15px;
    margin-top: 10px;
}

.rotate1 {
    transform: rotate(1deg);
}

.rotate-1 {
    transform: rotate(-1deg);
}

.logoHome {
    margin: 20px;
}

.logoFooter {
    width: 250px;
    height: auto;
}

.footerNav {
    padding-top: 100px;
    background-color: $mainYellow;
    padding: 20px;
}

.textFooter {
    font: 600 20px Barlow Semi Condensed;
    color: #000 !important;
    text-align: center;
    padding-top: 25px;
}