{% extends 'base.html.twig' %}

{% block title %}Edit Vehicle
{% endblock %}

{% block body %}
	<main class='mainIndex text-white '>
		<h1 class="h2showPage">Edit Vehicle</h1>

		<div class='text-center '>

			{{ include('vehicle/_form.html.twig', {'button_label': 'Update'}) }}


			{{ include('vehicle/_delete_form.html.twig') }}

			<div class="w-100 text-center pb-5">
				<a href="{{ path('app_vehicle_index') }}" class="text-center">
					<button class="btnCineCar">back to list</button>
				</a>
			</div>
		</main>
	{% endblock %}
