{% extends 'base.html.twig' %}

{% block title %}Vehicle index
{% endblock %}

{% block body %}

	<h1>Vehicle index</h1>

	<div class="container text-center">
		<div class="row">


			{% for vehicle in vehicles %}

				<div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
					<div class="card " style="width: 18rem;">
						<img src="{{asset('build/images/' ~ vehicle.picture)}}" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">{{ vehicle.title }}</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="btn btn-primary">Select</a>
						</div>
					</div>
				</div>

			{% else %}

				<td colspan="18">no records found</td>
			{% endfor %}
		</div>
	</div>
	<a href="{{ path('app_vehicle_new') }}">Create new</a>
{% endblock %}
